{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% block title %} Login {% endblock %}
{% block navbar %}
    {% include '_navbar.html' %}
{% endblock navbar %}
{% block content %}

<div class="text-center h1 text-danger">Login</div>
<div class="container">
<form method=post>
  <div class="form-class">
      {% include '_messages.html' %}
      {{ form.csrf_token }}
    {{ render_field(form.email, class='form-control') }}
    {{ render_field(form.password, class='form-control') }}
      <label>Remember me<input type="checkbox" id="remember_me" name="remember_me" value="y" aria-label="remember_me"></label>
      <br>
      <input type="submit" class="btn btn-info" value="Login">
  </div>

</form>
</div>
{% endblock %}
