{% extends 'base.html' %}

{% block content %}


         <div class="container mt-5 ">
         {% include '_messages.html' %}
            <table class="table table-sm">
                <thead>
                    <th>№</th>
                <th>Brand</th>
                <th>Edit</th>
                <th>Delete</th>
                </thead>
                <tbody>
                {% if categories %}
                {% for category in categories %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ category.name }}</td>
                        <td><a href="{{ url_for('.edit_category', id=category.id) }}" class="btn btn-sm btn-outline-info"> Edit</a></td>
                        <td><a href="" class="btn btn-sm btn-outline-danger"> Delete</a></td>
                    </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
            </div>

{% endblock %}