{% extends 'base.html' %}
{% from '_card.html' import render_items %}
{% from '_pagination.html' import generate_pagination_links %}

{% block navbar %}
    {% include '_navbar.html' %}
{% endblock navbar %}

{% block content %}

    <div class="container">
        <div class="row">
        {% if brand %}
            {{ render_items(brand, '.get_brand', get_brand.id) }}

            <div class="row">
        {% elif category %}
            {{ render_items(category, '.get_category', get_cat.id) }}

            <div class="row">
        {% else %}
            {{ render_items(products, '.home_page') }}

            {% endif %}
        </div>
            </div>
        </div>
    </div>
{% endblock content %}