.form-class{
    margin-left: 40rem;
    max-width: 35rem;
    padding: 10px 10px;
    border: 10px solid whitesmoke;
}


.register-form{
    padding: 10px;
    max-width: 500px;

    margin: 0 auto;
    border-radius: 15px;
}

.btn-info {
    margin-left: 10px;
}

.file_button{
    margin-left: 10px;
}

.product-container{
    margin-left: 40rem;
    max-width: 35rem;
}

.product-form{
    padding: 10px;
}

.form-select{
    max-width: 31rem;
    margin-left: 10px;
    margin-bottom: 10px;

}

.label-for-form{
    margin-top: 10px;

    margin-left: 10px;
}