{% extends 'base.html' %}
{% block navbar %}
    {% include '_navbar.html' %}
{% endblock navbar %}
{% block content %}
<div class="container mt-4">
{% include '_messages.html' %}
    <div class="row">
    <div class="col-md-12">
        Invoice: {{orders.invoice}}
        </br>
        Status: {{orders.status}}
        </br>
        Customer name: {{customer.name}}
        </br>
        Customer email: {{customer.email}}
        </br>
        <table class="table table-sm">
            <thead>
                <th>Sr</th>
                <th>Name</th>
                <th>Color</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Subtotal</th>
            </thead>
            <tbody>
                <tr>
                {% for key,product in orders.orders.items()  %}
                    {% set subtotal = product.price|float * product.quantity|int %}
                    {% set discount = "%0.2f" |format((product.discount/100)*product.price|float) %}
                    <td>{{ loop.index }}</td>
                    <td>{{ product.name }}</td>
                    <td>
                        {{product.color}}
                    </td>
                    <td>$ {{ product.price}} </td>
                    <td>
                        {{product.quantity}}
                    </td>
                    {% if product.discount>0 %}
                        <td>{{ product.discount }}% is $ {{ discount }}  </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>$ {{ "%0.2f"|format((subtotal|float)-(discount|float*product.quantity|int))}} </td>

                </tr>
                {% endfor %}
                </tbody>
        </table>
    <table class="table table-sm">
                <tr>
                    <td>
                        {% if orders.status=='Paid' %}
                        {% else %}
                        <form action="{{url_for('order.payment')}}" method="POST">
                            <input type='hidden' name='invoice' value='{{orders.invoice}}'>
                            {% for key,product in orders.orders.items() %}
                          <script
                            src="https://checkout.stripe.com/checkout.js"
                            class="stripe-button"
                            data-key="pk_test_51OQ76iCml4QlIMYOs05ur4oBRZrE2zxEbHHpqQqkuI7kbpdoAH0y4v7k0Bm3uOoSZXS9dZfNBhydl2FaFTwxYXQc00kfB7nlEU"
                            data-name="T-shirt"
                            data-description={{product.name}}
                            data-amount="{{ amount_for_stripe }}"
                            data-currency="usd">
                          </script>
                          {% endfor %}
                        </form>
                        
                    <td>{{amount}} </td>
                    </td>
                    <td>
                    <form action="{{ url_for('.delete_invoice',invoice = orders.invoice)}}" method="POST">
                        <button type="submit" class="btn btn-danger">Decline</button>
                    </form>
                    </td>
                    {% endif %}
                    <td>
                        <form action="{{url_for('.get_pdf', invoice = orders.invoice)}}" method="POST">
                            <button type="submit" class="btn btn-info">Get PDF</button>
                        </form>
                    </td>
                    <td colspan="7"><h3>Grand total: $ {{ grand_subtotal }}</h3></td>
                </tr>

</table>

            </div>
        </div>
    </div>
 {% endblock content %}