{% extends 'base.html' %}
{% block navbar %}
    {% include '_navbar.html' %}
{% endblock navbar %}
{% block content %}
<div class="container mt-4">
{% include '_messages.html' %}
    <div class="row">
    <div class="col-md-12">
        Invoice: {{orders.invoice}}
        </br>
        Status: {{orders.status}}
        </br>
        Customer name: {{customer.name}}
        </br>
        Customer email: {{customer.email}}
        </br>
        <table class="table table-sm">
            <thead>
                <th>Sr</th>
                <th>Name</th>
                <th>Color</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Subtotal</th>
            </thead>
            <tbody>
                <tr>
                {% for key,product in orders.orders.items()  %}
                    {% set subtotal = product.price|float * product.quantity|int %}
                    {% set discount = "%0.2f" |format((product.discount/100)*product.price|float) %}
                    <td>{{ loop.index }}</td>
                    <td>{{ product.name }}</td>
                    <td>
                        {{product.color}}
                    </td>
                    <td>$ {{ product.price}} </td>
                    <td>
                        {{product.quantity}}
                    </td>
                    {% if product.discount>0 %}
                        <td>{{ product.discount }}% is $ {{ discount }}  </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>$ {{ "%0.2f"|format((subtotal|float)-(discount|float*product.quantity|int))}} </td>

                </tr>
                {% endfor %}
                </tbody>
        </table>
    <table class="table table-sm">
                <tr>
                    <td><a href="{{url_for('cart.get_order')}}" class="btn btn-info"> Checkout</a></td>
                    <td colspan="7"><h3>Grand total: $ {{ grand_subtotal }}</h3></td>
                    <td>
                    <form action="{{ url_for('.delete_invoice',invoice = orders.invoice)}}" method="POST">
                        <button type="submit" class="btn btn-danger">Decline</button>
                    </form>
                    </td>
                    <td> <a href="#" class="btn btn-info">Get PDF</a> </td>
                </tr>

</table>

            </div>
        </div>
    </div>
{% endblock content %}