{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% block title %} Register {% endblock %}

{% block content %}

<div class="text-center h1 text-danger">Register</div>
<div class="container">
    <form method=post>
      <div class="form-class">
      {% include '_messages.html' %}
          {{ form.csrf_token }}
        {{ render_field(form.username, class='form-control') }}
        {{render_field(form.name, class='form-control')}}
        {{ render_field(form.email, class='form-control') }}
        {{ render_field(form.password, class='form-control') }}
        {{ render_field(form.confirm, class='form-control') }}
          <br/>
        <input type="file" name="photo" class="file_button">
           <br/>
        <input type="submit" class="btn btn-info" value="Register">
      </div>
    </form>
</div>
{% endblock %}
